#layout {
  display: flex;
}

#board {
  width: 800px;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#moves dt {
  margin-top: 10px;
}

.move {
  border-radius: 3px;
  padding: 1px 6px;
  cursor: pointer;
}

.best-move {
  font-weight: bold;
  background-color: green;
  color: white;
}

.mistake-move {
  font-weight: bold;
  background-color: red;
  color: white;
}

.playable-move {
  font-weight: normal;
  color: black;
  border: 1px solid black;
}

.unrated-move {
  font-weight: normal;
  color: gray;
}
